<table class="table table-hover table-bordered">
    <caption>Buses in depot</caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Bus firm</th>
        <th scope="col">Bus seria</th>
        <th scope="col">Edit row</th>
        <th scope="col">Delete row</th>
    </tr>
    </thead>
    <tbody>
    {% for record in result %}
        <tr>
            <th scope="row">{{ record.id }}</th>
            <td>{{ record.firm }}</td>
            <td>{{ record.seria }}</td>
            <td><a href="{% url 'change_data' table 'update' %}?row_id={{ record.id }}&page={{ result.number }}"><span
                    class="svg-icons"><i class="far fa-edit"
                                         aria-hidden="true"></i></span></a></td>
            <td><a href="{% url 'change_data' table 'delete' %}?row_id={{ record.id }}&page={{ result.number }}"><span
                    class="svg-icons"><i class="fa fa-trash-alt"
                                         aria-hidden="true"></i></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>