<!DOCTYPE html>
<html lang="en">
<head>
    <title>Database</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8d6423d7fb.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap" rel="stylesheet">

    {% load static %}
    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" media="all" href="{% static "favicon.ico" %}"/>
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" media="all" href={% static "database_page/css/style.css" %}>
    <!-- Custom js -->
    <script crossorigin="anonymous" src={% static "database_page/js/functions.js" %}></script>
</head>
<body>
<div id="navs">
    <nav id="menu">
        <a id="nav-bus_depot-tab" href="{% url 'get_table' 'bus_depot' %}">Buses types in depot</a>
        <a id="nav-user_data-tab" href="{% url 'get_table' 'user_data' %}">Active users</a>
        <a id="nav-station-tab" href="{% url 'get_table' 'station' %}">Active stations</a>
        <a id="nav-bus-tab" href="{% url 'get_table' 'bus' %}">Buses in depot</a>
        <a id="nav-schedule-tab" href="{% url 'get_table' 'schedule' %}">Buses Schedule</a>
        <a id="nav-ticket-tab" href="{% url 'get_table' 'ticket' %}">Active tickets</a>
    </nav>

    <div class="table-responsive">
        {% include template %}
    </div>

    <div class="custom_btn" style="display: flex;margin-top: 0;margin-bottom: 1em;">
        <button style="width: 100%;" onclick="location.href='{% url 'change_data' table 'add' %}'" type="button">
            Add data
        </button>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            {% if result.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% url 'get_table' table %}?page={{ result.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            {% endif %}
            {% for page in result.paginator.page_range %}
                {% ifequal page result.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="{% url 'get_table' table %}?page={{ page }}">{{ page }} <span
                                class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'get_table' table %}?page={{ page }}">{{ page }}</a>
                    </li>
                {% endifequal %}
            {% endfor %}
            {% if result.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'get_table' table %}?page={{ result.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="custom_btn">
        <button onclick="window.location.href='{% url 'disconnect' %}'">Disconnect</button>
    </div>
</div>
</body>
</html>