<table class="table table-hover table-bordered">
    <caption>Buses Schedule</caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Departure station</th>
        <th scope="col">Departure datetime</th>
        <th scope="col">Arrival station</th>
        <th scope="col">Arrival datetime</th>
        <th scope="col">Bus ID</th>
        <th scope="col">Bus firm</th>
        <th scope="col">Bus seria</th>
        <th scope="col">Edit row</th>
        <th scope="col">Delete row</th>
    </tr>
    </thead>
    <tbody>
    {% for record in result %}
        <tr>
            <th scope="row">{{ record.shedule_id }}</th>
            <td>{{ record.dep_station_name }}</td>
            <td>{{ record.dep_station_time }}</td>
            <td>{{ record.arr_station_name }}</td>
            <td>{{ record.arr_station_time }}</td>
            <td>{{ record.id }}</td>
            <td>{{ record.firm }}</td>
            <td>{{ record.seria }}</td>
            <td><a href="/database/delete_row/?table_name={{ table }}&del_id={{ record.id }}"><span
                    class="svg-icons"><i class="fa fa-trash-alt"
                                         aria-hidden="true"></i></span></a></td>
            <td><a href="#"><span class="svg-icons"><i class="far fa-edit"
                                                       aria-hidden="true"></i></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>