[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-debug-toolbar = "*"
django-redis = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
pyngrok = "*"

[requires]
python_version = "3.8"
