a {
    text-decoration: none;
    font-family: 'Bellota', cursive;
    font-size: 1.3em;
    color: black;

}

a:hover {
    text-decoration: none;
    color: inherit;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

button {
    border: 1px solid rgb(77, 29, 181);
    border-radius: 15px;
    padding: 0.5em 2em;
    color: rgb(77, 29, 181);
    background-color: white;
}

#navs {
    width: 70%;
    margin: 5% auto;
    padding: 1.5em;
    border-radius: 20px;
    background-size: cover;
    display: block;
    -webkit-justify-content: space-between;
    -webkit-box-shadow: -2px 7px 37px 8px rgba(188, 168, 232, 0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(188, 168, 232, 0.52);
    box-shadow: -2px 7px 37px 8px rgba(188, 168, 232, 0.52);
}

#menu {
    margin: 0 13% 2em 13%;
}

#menu > a {
    padding: 0 0.15em;
}

.svg-icons {
    -webkit-flex-basis: 15%;
    flex-basis: 15%;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: #000;
    border-radius: 0 10px 10px 0;
}

.span {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.custom_btn {
    text-align: center;
    margin-top: 3em;
}
