#navs {
    width: 50%;
    margin: 10% auto;
    border-radius: 20px;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-shadow: -2px 7px 37px 8px rgba(167, 167, 167, 0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(167, 167, 167, 0.52);
    box-shadow: -2px 7px 37px 8px rgba(167, 167, 167, 0.52);
}