<!DOCTYPE html>
<html lang="en">
<head>
    <title>Database Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" media="all" href="{% static "favicon.ico" %}"/>

    <script src="https://kit.fontawesome.com/8d6423d7fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" href={% static "login_page/css/style.css" %}>

    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

</head>
<body>
<div id='comp'></div>
<div class="main-w3">
    <img src="{% static "login_page/images/login_img.jpg" %}" alt="No image" id="login_img">
    <form action="/" method="post">
        {% csrf_token %}
        <h1>Database Login System</h1>
        <div class="login-w3ls">
            <div class="icons">
                <input type="text" name="host" placeholder="Host">
                <span class="svg-icons"><span class="fa fa-server" aria-hidden="true"></span></span>
                <div class="clear"></div>
            </div>
            <div class="icons">
                <input type="text" name="database" placeholder="Database">
                <span class="svg-icons"><span class="fa fa-database" aria-hidden="true"></span></span>
                <div class="clear"></div>
            </div>
            <div class="icons">
                <input type="text" name="user" placeholder="User">
                <span class="svg-icons"><span class="fa fa-user" aria-hidden="true"></span></span>
                <div class="clear"></div>
            </div>
            <div class="icons">
                <input type="password" name="password" placeholder="Password">
                <span class="svg-icons"><span class="fa fa-key" aria-hidden="true"></span></span>
                <div class="clear"></div>
            </div>
            <div class="icons">
                <input type="text" name="port" placeholder="Port">
                <span class="svg-icons"><span class="fa fa-unlock-alt" aria-hidden="true"></span></span>
                <div class="clear"></div>
            </div>
            <div class="btnn">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>